h1 {
	float: left;
	font-family: 'Carrois Gothic SC', sans-serif;
	margin-left: 20px;
	font-size: 55px;

}

#logo {
	
	float: left;
	
}


li {
	list-style-type: none;
	font-size: 25px;
	font-family: 'Telex', sans-serif;
	margin: 10 20 20 10;
}

#navigation {
  clear:left;
  border: 1px black solid;
  float: left;
  
}
